@model CRUD.Models.ProductViewModel
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Views/Product/product_detail.js"></script>
<script src="~/Views/Product/product_list.js"></script>
<script src="~/Views/Product/Index.js"></script>

<div class="breadcrumb">
    <ul>
        <li>
            <a href="/"><i class="glyphicon glyphicon-home"></i></a>
        </li>
    </ul>
</div>
<div class="contentpanel">
    <div class="row">
        <div id="product-list">
            @Html.Partial("/Views/Product/product_list.cshtml", Model)
        </div>
        <div id="product-detail" class="row" style="display:none;">
            @Html.Partial("/Views/Product/product_detail.cshtml", Model)
        </div>
    </div>
</div>
@Html.Partial("/Views/Shared/Uploads/uploadFile.cshtml")
