<div class="col-md-12">
    <div class="toolbar">
        <button class="cbo-all btn btn-primary btn-xs" onclick="model.List.CheckAll()">
            <i class="glyphicon glyphicon-unchecked"></i>
        </button>
        <button class="btn btn-xs btn-primary fileinput-button" type="button" onclick="model.UploadFileModel.OpenUploadFile()">
            <i class="glyphicon glyphicon-floppy-save"></i>
            <span>Nạp dữ liệu</span>
        </button>
        <div class="display-small div-float">
            <div class="input-group">
                <input type="text" id="keyword" class="form-control" placeholder="Từ khóa tìm kiếm" onkeydown="model.searchNhanSu_enter(event)">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-cmd" type="button" onclick="model.searchNhanSu()"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered responsive dataTable no-footer dtr-inline" id="basicTable" role="grid" aria-describedby="basicTable_info">
                <thead class="">
                    <tr role="row">
                        <th style="width: 50px; text-align: center;">Chọn</th>
                        <th style="width: 50px; text-align: center;">STT</th>
                        <th>Họ tên</th>
                        <th>Quy trình</th>
                        <th>Phương án</th>
                        <th style="width: 50px; text-align: center;"></th>
                    </tr>
                </thead>
                <script id="nhansu-list-empty-template" type="text/x-handlebars-template">
                    <tr role="row" class="even">
                        <td colspan="6">Chưa có bản ghi nào</td>
                    </tr>
                </script>
                <script id="nhansu-list-template" type="text/x-handlebars-template">
                    {{#each this.items}}
                    <tr role="row" class="{{row_class @@index}}">
                        <td align="center">
                            <input class="cbo-item" name="cbid" type="checkbox" style="cursor: pointer" value="{{ID}}" onclick="model.List.toggleCheck(this)" />
                        </td>
                        <td style="text-align:center;">{{stt_pager @@index ../page ../size}}</td>
                        <td>{{ho_ten}}</td>
                        <td>{{so_so_bhxh}}</td>
                        <td>{{so_the_bhyt}}</td>
                        <td style="text-align: center;">
                            <button class="btn btn-xs btn-default" type="button" onclick="model.activeDetail('{{ID}}')">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </script>
                <tbody id="nhansu-list"></tbody>
            </table>

            <div class="span6">
                <div class="pagination" id="paging_info">
                    Tổng số: <span class="total" id="nhansu-total"></span> kết quả
                </div>
            </div>
            <ul id="paging"></ul>
        </div>
    </div>
</div>
