<div class="col-md-12">
    <div class="toolbar">
        <button class="cbo-all btn btn-primary btn-xs" onclick="model.List.CheckAll()">
            <i class="glyphicon glyphicon-unchecked"></i>
        </button>
        <button class="btn btn-xs btn-primary fileinput-button" type="button" onclick="model.UploadFileModel.OpenUploadFile()">
            <i class="glyphicon glyphicon-floppy-save"></i>
            <span>Nạp dữ liệu</span>
        </button>
        <div class="display-small div-float">
            <div class="input-group">
                <input type="text" id="keyword" class="form-control" placeholder="Từ khóa tìm kiếm" onkeydown="model.searchNhanSu_enter(event)">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-cmd" type="button" onclick="model.searchNhanSu()"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered responsive dataTable no-footer dtr-inline" id="basicTable" role="grid" aria-describedby="basicTable_info">
                <thead class="">
                    <tr role="row">
                        <th style="width: 50px; text-align: center;">Chọn</th>
                        <th style="width: 50px; text-align: center;">STT</th>
                        <th>Họ tên</th>
                        <th>Quy trình</th>
                        <th>Phương án</th>
                        <th style="width: 50px; text-align: center;"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
