<div class="col-md-12">
    <div class="toolbar">
        <button class="btn btn-xs btn-primary fileinput-button" type="button" onclick="model.UploadFileModel.OpenUploadFile()">
            <i class="glyphicon glyphicon-floppy-save"></i>
            <span>Nạp dữ liệu</span>
        </button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered responsive dataTable no-footer dtr-inline" id="basicTable" role="grid" aria-describedby="basicTable_info">
                <thead class="">
                    <tr role="row">
                        <th style="width: 50px; text-align: center;">Chọn</th>
                        <th style="width: 50px; text-align: center;">STT</th>
                        <th>Họ tên</th>
                        <th>Quy trình</th>
                        <th>Phương án</th>
                        <th style="width: 50px; text-align: center;"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
