
/*----------------------------------------------------------------------------- 
Alternative Stylesheet
Built:      01/03/07 
Author:     Aaron Bradley
Website:    www.ping-media.co.uk
Desc:       Large Text styles
-----------------------------------------------------------------------------*/
body 
{
    font-size:103%;
}
#contactform input, #contactform textarea{font-size:1.2em;}
#quotes .quote{font-size:0.7em;}
#quotes span{font-size:0.8em;}
#showcase .showcaseitem{font-size:0.8em;}