<configuration>
  <properties>

  </properties>
  <components>
    <!-- Danh muc-->
    <component
		  id="IdmBenhVienService"
		  service="CRUD.Core.Interfaces.IdmBenhVienService, CRUD.Core"
		  type="CRUD.Core.Implements.dmBenhVienService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
		  id="IdmCQBHXHService"
		  service="CRUD.Core.Interfaces.IdmCQBHXHService, CRUD.Core"
		  type="CRUD.Core.Implements.dmCQBHXHService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
		  id="IdmPhuongXaService"
		  service="CRUD.Core.Interfaces.IdmPhuongXaService, CRUD.Core"
		  type="CRUD.Core.Implements.dmPhuongXaService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
		  id="IdmQuanHuyenService"
		  service="CRUD.Core.Interfaces.IdmQuanHuyenService, CRUD.Core"
		  type="CRUD.Core.Implements.dmQuanHuyenService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
			  id="IdmTinhThanhService"
			  service="CRUD.Core.Interfaces.IdmTinhThanhService, CRUD.Core"
			  type="CRUD.Core.Implements.dmTinhThanhService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
			  id="IdmDanTocService"
			  service="CRUD.Core.Interfaces.IdmDanTocService, CRUD.Core"
			  type="CRUD.Core.Implements.dmDanTocService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
			  id="IdmQuocTichService"
			  service="CRUD.Core.Interfaces.IdmQuocTichService, CRUD.Core"
			  type="CRUD.Core.Implements.dmQuocTichService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!-- Nhân sự -->
    <component
            id="InsNhanSuService"
            service="CRUD.Core.Interfaces.InsNhanSuService, CRUD.Core"
            type="CRUD.Core.Implements.nsNhanSuService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!-- Qua trinh dong -->
    <component
           id="InsQuaTrinhDongService"
           service="CRUD.Core.Interfaces.InsQuaTrinhDongService, CRUD.Core"
           type="CRUD.Core.Implements.nsQuaTrinhDongService, CRUD.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\bhxh_const.config</sessionFactoryConfigPath>
      </parameters>
    </component>

  </components>
</configuration>
