/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p{margin:0px;}

body{font-family: 'Open Sans', sans-serif;}
.header_area {
    padding-top: 25px;
    padding-bottom: 30px;
}
.logo { }
.logo img { }
.date_time { float:right;}
.date_time::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.date_time h2 {
    color: #6c6c74;
    font-size: 40px;
}
.date_time h1 {
    float: right;
    font-size: 72px;
    color: #6c6c74;
}
.content_area { }
.left_content { }
.single_dictionary p {
    width: 70%;
    color: #6c6c74;
    float: left;
    font-size: 25px;
    padding-bottom: 5px;
}
.single_dictionary > img { float: right }
.dictionary_img > img { padding-bottom: 5px }
.left_content h2 {
    color: #006cb7;
    font-size: 44px;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 15px;
}
.left_content_bottom h2 {
    color: #006cb7;
    font-size: 44px;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-top: 40px;
}
.doctor_dictionary { }
.doctor_dictionary p {
    color: #6c6c74;
    font-size: 25px;
}
.doctor_dictionary p img { float: right }
.broadway_gp {
    /*background: rgba(0, 0, 0, 0) url("img/sidebar_img.jpg") no-repeat scroll 0 0 / 780px auto;
    border: 4px solid #196eb5;
    padding: 40px 40px 80px 30px;*/
}
.broadway_gp h2 {
    color: #006cb7;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}
.broadway_gp p {
    color: #6c6c74;
    font-size: 22px;
    font-weight: 600;
}
.footer_area {
    padding-bottom: 60px;
    padding-top: 10px;
}
.footer {
    border-top: 1px solid #B1B1B5;
    padding-top: 25px;
}
.note { }
.note p {
    color: #6c6c74;
    font-size: 30px;
}
.note p span {
    color: #006cb7;
    font-size: 32px;
    font-weight: 600;
}
.am_logo { }
.am_logo img { float: right }