<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=blusky_live_07112013;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="GlobalConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=pinglibrary;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="website_address" value="http://reports.bluskyresearch.com"/>
    <add key="site_name" value="BluSky Research"/>
    <add key="db_name" value="blusky_live_07112013"/>
    <!-- Matches name of db in DefaultConnectionString -->
    <add key="auto_logged_in" value="0"/>
    <!-- 1 = always logged on localhost / 0 = not always logged on localhost -->
    <add key="mail_server" value="localhost"/>
    <add key="mail_from" value="hello@bluskyresearch.com"/>
    <add key="mail_to" value="clare@bluskymarketing.com"/>
    <add key="admin_folder" value="admin"/>
    <add key="imageUploadPath" value="Media/Images/upload/"/>
    <add key="FileUploadPath" value="Media/Downloads/"/>
    <add key="FileImageUploadPath" value="Media/Images/upload/"/>
    <add key="CKImagePath" value="/userfiles/images/"/>
    <add key="CKFilePath" value="/userfiles/file/"/>
    <add key="CSVPath" value="~/admin/reporting"/>
    <add key="rss_title" value="Latest News"/>
    <add key="EmailRegEx" value="^((\&quot;[^\&quot;\f\n\r\t\v\b]+\&quot;)|([\w\!\#\$\%\&amp;\'\*\+\-\~\/\^\`\|\{\}]+(\.[\w\!\#\$\%\&amp;\'\*\+\-\~\/\^\`\|\{\}]+)*))@((\[(((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9])))\])|(((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9]))\.((25[0-5])|(2[0-4][0-9])|([0-1]?[0-9]?[0-9])))|((([A-Za-z0-9\-])+\.)+[A-Za-z\-]+))$"/>
    <add key="vatRate" value="0.2"/>
    <add key="lowStock" value="5"/>
    <!-- SurveyGizmo -->
    <add key="SurveyGizmoUsername" value="chris@bluskymarketing.com"/>
    <add key="SurveyGizmoPassword" value="boulder07"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
</configuration>